@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  line-height: 1.1;
}

:root {
  --primary: #4242a6;
  --secondary: #2c2828;
  --background: #ede7e6;
  --success: green;
  --danger: #cf5353;
}
.bg-success {
  background-color: var(--success);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.header .navbar {
  background-color: var(--primary) !important;
}
/* .navbar .container ul li {
  margin: auto;
} */

/* .row {
  height: 90vh;
  margin: auto;
  margin-top: 50px;
} */

.heading-default-primary {
  color: var(--primary);
}

.submit,
.input {
  width: 100%;
  border-radius: 0;
}

.btn {
  background-color: var(--primary);
}

.contact-list-body {
  border: none;
}

.card {
  border-radius: 0;
}

.card-body {
  background-color: var(--background);
}

.card .card-title {
  color: var(--primary);
}

.contact-mail,
.contact-number {
  color: var(--secondary);
  margin-bottom: 8px !important;
}

.btn-edit,
.btn-delete {
  padding: 5px 15px;
  border: none;
  border-radius: 0;
}

.btn-edit {
  background-color: var(--secondary);
  margin-right: 20px;
}

.btn-delete {
  background-color: var(--danger);
}

.badge {
  float: right;
  border-radius: 0;
}
